<div id="mvp-one-container-home" layout="column">

    <md-toolbar id="toolbar-content" class="mvp-one-toolbar md-whiteframe-z2" md-medium-tall="true">
        <div class="md-toolbar-tools" layout="row">
            <img src="media/img/logo.png">
            <span flex></span>
            <a flex="10" ng-click="mvpOne.onDownArrowClick('mvp-one-container-about-product')">Produto</a>
            <span flex></span>
            <a flex="10" ng-click="mvpOne.onDownArrowClick('mvp-one-container-about-us')">Sobre Nós</a>
            <span flex></span>
            <a flex="10" ng-click="mvpOne.onDownArrowClick('mvp-one-container-contact-us')">Entre em Contato</a>
            <span flex></span>
        </div>
    </md-toolbar>

    <div id="background-home" class="math"></div>
    <div id="background-home" class="statistics transparent"></div>
    <div id="background-home" class="data transparent"></div>
    <div id="background-home" class="black"></div>

    <md-content style="background-color: transparent; margin: 30vh 0;" layout-padding="" flex>
        <h1 style="font-size: 84px; font-weight: 600; font-style: normal; font-family: MuseoSans300; color: #fff; text-align: center; ">
            A <span id="typed-changing" style="font-weight: 800">matemática</span> a serviço <br> dos seus investimentos.
        </h1>
    </md-content>

</div>
<div id="mvp-one-container-about-product" class="container" layout="column" layout-align="center center">


    <div flex="20" style="margin-top: 100px">
        <h1 style="font-size: 84px; font-weight: 600; font-style: normal; font-family: MuseoSans300; text-align: center; ">
            Nosso Produto
        </h1>
    </div>
    <div layout="row" >
        <div layout="row" flex="50" layout-padding class="product-container">
            <md-icon md-svg-icon="media/icons/ic_trending_up_black_48px.svg"></md-icon>
            <p>Identificamos a atual tendência de um determinado ativo e oferecemos ferramentas para análise desta tendências</p>
        </div>
        <div layout="row" flex="50" layout-padding class="product-container">
            <md-icon md-svg-icon="media/icons/ic_whatshot_black_48px.svg"></md-icon>
            <p>Acesso a inteligência de máquina e estatística para gerar previsões de movimentos de determinado ativo com alta taxa de acerto.</p>
        </div>
    </div>
    <span flex="5"></span>
    <div layout="row">
        <div layout="row" flex="50" layout-padding class="product-container">
            <md-icon md-svg-icon="media/icons/ic_swap_vert_black_48px.svg"></md-icon>
            <p>Análise de níveis de volatilidade e parametrização da possível dispersão dos preços.</p>
        </div>
        <div layout="row" flex="50" layout-padding class="product-container">
            <md-icon md-svg-icon="media/icons/ic_school_black_48px.svg"></md-icon>
            <p>O resultado de nossas análises são alcançados através de levantamento de hipóteses e comprovação destas por meio de pesquisa e validação.</p>
        </div>
    </div>

    <span flex=""></span>
    <div layout="row" layout-align="center center">
        <md-button name="down-arrow-home" class="down-arrow-icon" ng-click="mvpOne.onDownArrowClick('mvp-one-container-about-us')" aria-label="Scroll to About Product">
            <md-icon md-svg-icon="media/icons/ic_arrow_downward_white_48px.svg"></md-icon>
        </md-button>
    </div>
</div>

<div id="mvp-one-container-about-us" class="container" layout="column">

    <div flex="20" style="margin-top: 100px">
        <h1 style="font-size: 84px; font-weight: 600; font-style: normal; font-family: MuseoSans300; text-align: center; ">
            Sobre Nós
        </h1>
    </div>

    <div layout="row" layout-align="center center">
        <div layout="row" flex="70" layout-padding class="product-container">
            <h1>Nos juntamos em agosto de 2014 para iniciar pesquisas em dados do mercado
                financeiro. Após um ano e meio de trabalho construímos algoritmos de predição, risco,
                execução e gestão de capital para a bolsa de valores brasileira.
                Fazemos uma análise quantitativa dos dados do mercado financeiro utilizando
                técnicas estatísticas, modelagem matemática e inteligência artificial. A Orizon é o
                resultado deste trabalho intenso. Estamos disponibilizando agora parte de nossas
                pesquisas para outros traders e investidores.</h1>
        </div>
    </div>

    <span flex=""></span>
    <div layout="row" layout-align="center center">
        <md-button name="down-arrow-home" class="down-arrow-icon" ng-click="mvpOne.onDownArrowClick('mvp-one-container-contact-us')" aria-label="Scroll to About Product">
            <md-icon md-svg-icon="media/icons/ic_arrow_downward_white_48px.svg"></md-icon>
        </md-button>
    </div>
</div>

<div id="mvp-one-container-contact-us" class="container" layout="column">

    <div layout="column" flex="80" layout-offset="10" layout-align="center center">
        <h1>Deixa aqui o seu contato, para blah blah</h1>
        <p>Subtexto para dar enfase de deixar o contato</p>
        <md-input-container>
            <label>Email for money</label>
            <input type="text" ng-model="mvpOne.userEmail">
        </md-input-container>

        <md-button ng-click="mvpOne.sendUserEmailToList(mvpOne.userEmail)">Inscrever sei la</md-button>
    </div>

</div>