#toolbar-content{
  background: rgba(0, 0, 0, 0.5) !important;
}

.md-toolbar-tools {
  z-index: 10;
  margin: auto 0;

  img {
    height: 64px; width: auto;
  }

  a {
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
  }

  a:hover {
    text-decoration: blink;
    font-weight: 900;
    color: white;
  }
}

/////////////////////////

.carousel-fade {
  .carousel-inner {
    .item {
      transition-property: opacity;
    }

    .item,
    .active.left,
    .active.right {
      opacity: 0;
    }

    .active,
    .next.left,
    .prev.right {
      opacity: 1;
    }

    .next,
    .prev,
    .active.left,
    .active.right {
      left: 0;
      transform: translate3d(0, 0, 0);
    }

    .item .active {
      margin: 20vh 0;
    }
  }

  .carousel-control {
    z-index: 2;
  }
}


#mvp-one-container-home {

  height: 100vh;

  #background-home div.opaque {
    opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
  }

  #background-home {
    //background-image: url(/media/img/math-background.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;

    // TRANSITION //
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }

  #background-home.transparent {
    opacity: 0;
  }

  #background-home.math {
    background-image: url('/media/img/Quadro_negro.jpg');
  }

  #background-home.statistics {
    background-image: url('/media/img/Market2.jpg');
  }

  #background-home.data {
    background-image: url('/media/img/Market3.jpg');
  }

  #background-home.black {
    background: rgba(0, 0, 0, 0.55);
  }

  md-content {
    z-index: 10;
  }
}
@colorTypedChanging: #3F51B5;

#typed-changing {
  color: @colorTypedChanging;
}

.typed-cursor{
  opacity: 1;
  color: @colorTypedChanging;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.mvp-one-toolbar {
  height: 100px;
}

.down-arrow-icon {
  height: 36px;
  width: 36px;
  cursor: pointer;
  margin-bottom: 16px;

}

md-button:hover {
  background-color: transparent;
}


//////////////////////////////
#mvp-one-container-about-product {
  background: linear-gradient(top, #414345, #232526);
}

.product-container {
  height: 300px;
  font-size: 30px;

  md-icon {
    height: 256px;
    width: auto;
    margin: 0;
  }

  p {
    align-self: center;
    margin-right: 32px;
  }
}


/////////////////////////////

#mvp-one-container-contact-us {
  background-color: whitesmoke;
}