<div id="mvp-one-container-home" layout="column">

    <md-toolbar id="toolbar-content" class="mvp-one-toolbar md-whiteframe-z2" md-medium-tall="true">
        <div class="md-toolbar-tools" layout="row">
            <img src="media/img/logo.png">
            <span flex></span>
            <a flex="10" ng-click="mvpOne.onDownArrowClick('mvp-one-container-about-product')">Product</a>
            <span flex></span>
            <a flex="10" ng-click="mvpOne.onDownArrowClick('mvp-one-container-about-us')">About Us</a>
            <span flex></span>
            <a flex="10" ng-click="mvpOne.onDownArrowClick('mvp-one-container-contact-us')">Contact Us</a>
            <span flex></span>
        </div>
    </md-toolbar>

    <div id="background-home" class="math"></div>
    <div id="background-home" class="statistics transparent"></div>
    <div id="background-home" class="data transparent"></div>
    <div id="background-home" class="black"></div>

    <md-content style="background-color: transparent; margin: 30vh 0;" layout-padding="" flex>
        <h1 style="font-size: 84px; font-weight: 600; font-style: normal; font-family: MuseoSans300; color: #fff; text-align: center; ">
            A <span id="typed-changing" style="font-weight: 800">matemática</span> a serviço <br> dos seus investimentos.
        </h1>
    </md-content>

</div>
<div id="mvp-one-container-about-product" class="container" layout="column" layout-align="center center">


    <div flex="20" style="margin-top: 100px">
        <h1 style="font-size: 84px; font-weight: 600; font-style: normal; font-family: MuseoSans300; text-align: center; ">
            Nosso Produto
        </h1>
    </div>
    <div layout="row" >
        <div layout="row" flex="50" layout-padding class="product-container">
            <md-icon md-svg-icon="media/icons/ic_trending_up_black_48px.svg"></md-icon>
            <p>Identificamos a atual tendência de um determinado ativo e oferecemos ferramentas para análise desta tendências</p>
        </div>
        <div layout="row" flex="50" layout-padding class="product-container">
            <md-icon md-svg-icon="media/icons/ic_whatshot_black_48px.svg"></md-icon>
            <p>Acesso a inteligência de máquina e estatística para gerar previsões de movimentos de determinado ativo com alta taxa de acerto.</p>
        </div>
    </div>
    <span flex="5"></span>
    <div layout="row">
        <div layout="row" flex="50" layout-padding class="product-container">
            <md-icon md-svg-icon="media/icons/ic_swap_vert_black_48px.svg"></md-icon>
            <p>Análise de níveis de volatilidade e parametrização da possível dispersão dos preços.</p>
        </div>
        <div layout="row" flex="50" layout-padding class="product-container">
            <md-icon md-svg-icon="media/icons/ic_school_black_48px.svg"></md-icon>
            <p>O resultado de nossas análises são alcançados através de levantamento de hipóteses e comprovação destas por meio de pesquisa e validação.</p>
        </div>
    </div>

    <span flex=""></span>
    <div layout="row" layout-align="center center">
        <md-button name="down-arrow-home" class="down-arrow-icon" ng-click="mvpOne.onDownArrowClick('mvp-one-container-about-us')" aria-label="Scroll to About Product">
            <md-icon md-svg-icon="media/icons/ic_arrow_downward_white_48px.svg"></md-icon>
        </md-button>
    </div>
</div>

<div id="mvp-one-container-about-us" class="container" layout="column">

    <span flex=""></span>
    <div layout="row" layout-align="center center">
        <md-button name="down-arrow-home" class="down-arrow-icon" ng-click="mvpOne.onDownArrowClick('mvp-one-container-contact-us')" aria-label="Scroll to About Product">
            <md-icon md-svg-icon="media/icons/ic_arrow_downward_white_48px.svg"></md-icon>
        </md-button>
    </div>
</div>

<div id="mvp-one-container-contact-us" class="container">

</div>